.banner-text{
    font-size: large;
    color: white;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}
.banner-item{
    background-image: url("../resources/Banner\ Image.png");
    background-repeat: no-repeat;
    height: 600x;
    width: 1100px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
    margin-left: 115px;
    margin-top: 10px;
    
    
}
.discount{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.discount-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.all-cate{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.discount-image{
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin-left: 250px;
}
.welcome-item{
    background-image: url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    height: 600x;
    width: 1100px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 16px;
    margin-left: 115px;
    margin-top: 10px;
}
.welcome-title{
    width: 640px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-left: 100px;
    margin-top: 10px;
}
.welcome-description{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 100px;
}
.join{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 100px;
}
.button-primary{
    color: blue;
    
}
.text-primary{
    color: rgb(255, 38, 0)
}
.address{
    /* color: #F00; */
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
    margin: 130px 0;
    background-color: bisque;
    margin-left: 150px;
    margin-right: 150px;
    fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.join-now{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgb(253, 126, 7);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.coming-container{
    display: flex;
}
.coming-header-left{
    color: #F00;
    /* text-align: center; */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 70px;
}
.coming-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 65px;
}
.coming-description{
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-left: 70px;
    
}
.coming-image{
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    border-radius: 364.844px;
    background: url(<path-to-image>), lightgray -91.279px 0px / 150.038% 100% no-repeat;
    width: 463px;
    height: 463px;
    flex-shrink: 0;
    border-radius: 463px;
    border: 15px solid #F00;
    width: 300px;
    height: 300px;
    background: #FFF;
    padding: 20px;
}
.coming-header-right{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 100px;
}
.coming-description-right{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 100px;
    margin-top: 2px;
}
.coming-image-right{
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    margin-left: 100px;
    
}